.main__booking {
    padding-top: 2rem;
    padding-left: 7.5vw;
    padding-right: 7.5vw;

    h3 {
        margin-top: 1.5rem;
        margin-bottom: .6rem;
    }

    p {
        margin-bottom: 1rem;
    }

    li {
        list-style: circle;
    }
}
