.page-home > .site-width > header {
    //background: #222;
}

.page-home > .site-footer {
    display: none;
}

.page-home main p {
    font-weight: 400;
}


.main__home {
    max-width: 100%;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
}
